*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

nav {
    background-color: white;
    color: brown;
    padding: 2rem;
    padding-bottom:2rem;
}




nav{
    background-color: grey;
    position: fixed;
    width: 1600px;
}
.nav-item{
    display: inline-block;
    background-color: red;
    font-size: 2.5rem;
    
}

#logo-image.logo-fluid{

    position: relative;
    left: 40rem;
    max-width: 12%;
    height: auto;
}

.up_bar-links{
    display: inline-block;
    

}

.form-wrapper{
  position: relative;
  left: 70rem;
  top: -5rem;
  

}

/*Header*/

header{
    background-color:yellow;
    height: 1000px;
    padding-top: 250px;
}

.first_title{
    color: salmon;
    font-size: 40px;
    display: inline;
    position: relative;
    left: 55rem;

}


img{
    max-width: 5%;
    height: auto;
    
  }

/*Contact*/

.text-uppercase{
    background-color: white;
    height: 1000px;
    padding-top: 250px;
    left: 50rem;
}
#contact h2{
    font-size: 5rem;
    position: relative;
    left: 50rem;
}

#contact-form{
    width: 70%;
    margin: 0 auto;
    
}
